<!-- App Section-->
<section class="page-section portfolio" id="personalize">
  <div class="container">
    <!-- App Section Heading-->
    <h2 class="text-center text-uppercase text-secondary mb-0">Opleidingen</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- App Grid Items-->
    <div class="row">
      <!-- App Item 1-->
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-play"></i></div>
          </div>
          <img class="img-fluid" src="https://www.vdab.be/sites/web/files/styles/promo_block/public/foto/typen1.jpg?itok=NzCavgI2"
            alt="" />
            <br/><br/>
          <b>Leer online</b>
          <br /><i>Schaaf je competenties bij. Zoek wat je nodig hebt in ons aanbod van online opleidingen, webinars en workshops.</i>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal2">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-play"></i>
            </div>
          </div>
          <img class="img-fluid" src="https://www.vdab.be/sites/web/files/styles/promo_block/public/foto/begeleiding4rechthoekig.jpg?itok=_cSkCR0Q"
            alt="" />
            <br/><br/>
          <b>Geen diploma?</b>
          <br /><i>Behaal gratis je diploma secundair of hoger onderwijs via VDAB en behoud je uitkering.</i>
        <br/><br/><br/>
        </div>
      </div>
      <div class="col-md-6 col-lg-4 mb-5">
        <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal3">
          <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
            <div class="portfolio-item-caption-content text-center text-white"><i class="fa fa-play"></i></div>
          </div>
          <img class="img-fluid" src="https://www.vdab.be/sites/web/files/styles/pagina_afbeelding/public/foto/linkedin.jpg?itok=-gi_Tys4"
            alt="" />
            <br/><br/>
          <b>Ben je tijdelijk werkloos?</b>
          <br /><i>Volg een gratis VDAB-opleiding om je kennis en vaardigheden bij te schaven.</i>
        </div>
      </div>

    </div>
  </div>

  <!-- Process Section-->
  <section class="page-section bg-primary text-white mb-0" id="personalize">
    <div class="container">
      <!-- Process Section Heading-->
      <h2 class="text-center text-uppercase text-white">Personaliseren</h2>
      <!-- Icon Divider-->
      <div class="divider-custom divider-light">
        <div class="divider-custom-line"></div>
        <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
        <div class="divider-custom-line"></div>
      </div>
      <div class="col-lg-8 mx-auto text-center">
        <!-- To configure the consent receipt, go to .env file.-->
        <p class="lead">Verbind uw gedragsgegevens en personaliseer uw ervaring.</p>
        <p class="lead">We garanderen dat we nooit toegang hebben tot uw persoonlijke gegevens (meer informatie)</p>
        <div class="text-center mt-4">
          <a class="btn btn-xl btn-primary btn-outline-light" href="{{actionActivateConsent}}">
            <i class="material-icons mr-1">airplay</i>
            Verbind mijn ervaring
          </a>
        </div>
      </div>
    </div>
  </section>
  <!-- App Section-->
  <section class=" page-section portfolio" id="personalize">
  <div class="container">
    <!-- App Section Heading-->
    <h2 class="text-center text-uppercase">Job matcher</h2>
    <!-- Icon Divider-->
    <div class="divider-custom">
      <div class="divider-custom-line"></div>
      <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
      <div class="divider-custom-line"></div>
    </div>
    <!-- App Grid Items-->
    <div class="row">
       {{#if active}}
      <!-- App Item 1-->
     
      <div class="col-md-12 text-center">
      <p class="lead">Uw transacties zijn geanalyseerd op basis van uw bewegingen. Er zijn twee verdachte transacties geconstateerd.</p>
     <div id="chartdiv"></div>
        
      </div>
      {{else}}
      <div class="col-md-12 text-center">
        <p class="lead">Analyseer zelf uw activiteiten en detecteer verdachte transacties.</p>
        <img src="https://lerablog.org/wp-content/uploads/2019/11/workers.jpg" width="800" >
      </div>
      
      {{/if}}
    </div>
  </div>
</section>